.help_content{
	margin-left: 23%;
    margin-right: 23%;
    margin-top: 150px;
}

.heading_container{
    margin-top:40px;
}

.help_dotpoint_container{
    margin-bottom: 60px;
}

.help_dotpoint_container h2{
    margin-bottom: 30px;
}

.help_dotpoint_num{
    margin-right:50px;
    background-color: rgba(76, 171, 204, 1);
    border-radius: 50%;
    min-width:2.5rem;
    width:2.5rem;
    padding-left: 0.5rem;
    height:3rem;
    color: rgba(255, 255, 255, 1);
    font-size: 40.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    align-items: center;
    justify-content: center;
}
