body {
	position: relative;
	background-color: rgba(30, 52, 99, 1);
	font-size: large;
	font-weight: 400;
	font-style: normal;
	font-family: 'Helvetica Neue', Arial;
	color: white;
	perspective: 1px;
}

button {
	cursor: pointer;
}

.header {
	margin-left: 13%;
	margin-right: 13%;
	margin-top: 2%;
	margin-bottom: 4%;
}

.header_logo {}

.header_button {
	height: 50px;
	border: none;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: white;
}

.transparent_header_button {
	margin-right: 5%;
}

.pink_button {
	border: none;
	background-color: rgba(215, 114, 174, 1);
	border-radius: 50px;
	color: white;
	padding-left: 60px;
	padding-right: 60px;
}

.blue_button {
	border: none;
	background-color: rgba(76, 171, 204, 1);
	border-radius: 50px;
	color: white;
	padding-left: 60px;
	padding-right: 60px;
}

.flex_horizontal {
	display: flex;
	flex-direction: row;
}

.flex_vertical {
	display: flex;
	flex-direction: column;
}

.flex_center_vertically {
	align-items: center;
}

.growing_div {
	flex-grow: 1;
}

h1 {
	font-size: 3.8vw;
	font-weight: 700;
	font-style: normal;
	font-family: 'Helvetica Neue', Arial;
	color: white;
	margin: 0px;
	text-align: center;
}

h2 {
	color: white;
	font-size: 3vw;
	font-weight: 700;
	font-style: normal;
	font-family: 'Helvetica Neue', Arial;
	margin: 0px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 33.00px;
	font-weight: bold;
	font-style: normal;
	font-family: 'Helvetica Neue', Arial;
}

.h1_large {
	font-size: 6vw;
}

.h1_subtitle {
	font-size: 2.7vw;
}

.h2_subtitle {
	font-family: 'Helvetica Neue', Arial;
	font-size: 2vw;
	font-weight: normal;
}

.centered_subtitle_text {
	text-align: center;
	font-size: 18px;
	margin-top: 30px;
}

.back_to_top_container {
	margin-bottom: 120px;
	margin-top: 120px;
}

.back_to_top_text {
	font-size: 24.00px;
	font-weight: 700;
	font-style: normal;
	font-family: 'Helvetica Neue', Arial;
	margin-top: 10px;
}

.back_to_top_arrow {}

@keyframes move_bg {
	0% {
		background-position-y: -100%;
	}
	100% {
		background-position-y: 0%;
	}
}

.starfield {
	animation-name: move_bg;
	animation-duration: 200s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("../images/Starfield.png");
	background-repeat: repeat;
	background-size: 75%;
	z-index: -1;
	opacity: 0.5;
}