$red: #C41230;
$red-dark: #521215;
$gray: #EBEBEB;

$home-background-color: $red; //var(--home-background-color, $gray);
$text-field-text-color:  var(--text-field-text-color, black);
$text-field-background-color: var(--text-field-background-color, white);

// Client-specific values and not from Theme set on the server
$link-button-highlight-color: $red;
$link-button-hover-color: $red;
$link-button-active-background-color: $red;
$link-button-active-color: $red;
$link-button-disabled-color: $red;
$link-button-visited-color: $red;
$link-button-box-shadow-background-color: #cab1ad;
$steps-circle-background: $red;
$steps-circle-heading-background: $red;
$steps-circle-text-color: white;
$header-title-text-color: $red;
$panel-border-color: var(--hud-dropdown-border-color);
$buttons-text-color: white;
$banner-background-color: $red;
$room-list-background-color: #F7F9FA;

body {
  background-color: $home-background-color;
}

@font-face {
  font-family: "Freight Light";
  src: url("../fonts/Freight/GarageFonts-FreightDispProLight.otf");
}

@font-face {
  font-family: "GothamBold";
  src: url("../fonts/Gotham/Gotham-Bold.otf")
}

h1, h2, h3, h4, h5 h6 {
  font-family: 'GothamBold', Serif;
}
h1 {
  font-size: 50px;
  @media (max-width: 1024px) {
    font-size: 30px;
  }
}
h2 {
  font-size: 35px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
h3 {
  font-size: 25px;
  @media (max-width: 1024px) {
    font-size: 15px;
  }
}

hr {
  background-color: #E3E3E3;
  height: 2px;
  border: 0;
}

:local(.conference-content) {
  font-family: 'Freight Light', Serif;
  background-color: $home-background-color;
  margin-bottom: 30px;

  h1 {
    margin-bottom: 20px;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: left;
    width: 100%;
  }

  :local(.card) {
    padding: 40px;

    @media (max-width: 1024px) {
      padding: 12px;
    }
  }
}

:local(.centered) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:local(.spinner-container) {
  padding: 40px 0;
}

:local(.room-list) {
  list-style: none;
  padding: 0;
  width: 100%;

  margin-block-start: 0;
  margin-block-end: 0;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 0;
    padding: 16px;
    background-color: $room-list-background-color;
    color: $text-field-text-color;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;

    p {
      max-width: 200px;
    }

    @media (max-width: 1024px) {
      font-size: 12px;
    }

    @media (max-width: 400px) {
      padding: 16px 10px;
    }

    b {
      padding-right: 5px;
    }
  }

  :local(.room-title) {
    color: $text-field-text-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 8px 0 0;
    font-size: 16px;
  }

  svg {
    margin-right: 6px;
  }

  b {
    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }

  a {
    color: $steps-circle-text-color;
    background-color: $steps-circle-background;
    padding: 6px 30px;
    margin: 2px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;

    @media (max-width: 720px) {
      padding: 6px 8px;
    }
  }
}

:local(.create-room-button) {
  display: block;
  border: none;
  border-radius: 1.5em;
  font-size: 1.5em;
  margin: 40px auto 0 auto;
  padding: 10px 20px;
  width: auto;
  cursor: pointer;
  font-family: 'GothamBold', Serif;

  &:visited {
    background-color: $link-button-visited-color;
  }

  @media (max-width: 1024px) {
    margin: 20px auto 12px auto;
    padding: 8px 12px;
    font-size: 16px;
  }
}

.rooms > :first-child {
  ul {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
}

:local(.instructions) {
  border-radius: 4px;
  //border: 1px solid $panel-border-color;
  background-color: white;
  font-family: 'Lato', sans-serif;

  :local(.steps) {
    margin: 80px 100px;


    p {
      margin-top: 0;
    }

    dt {
      color: $steps-circle-heading-background;
      text-transform: uppercase;
      font-family: 'GothamBold', Serif;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

    :local(.step-heading) {
      font-size: 24px;
    }

    dd {
      margin-inline-start: 0;
      color: black;
      margin: 0 0 60px 65px;
      font-size: 18px;
      line-height: 1.5;

      ul {
        padding-left: 20px;
        margin-bottom: 18px;
      }

      @media (max-width: 720px) {
        margin: 0 0 30px 0;
      }
    }

    :local(.circle) {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 24px;
      line-height: 52px;
      text-align: center;
      display: inline-block;
      font-weight: 100;
      margin-right: 15px;
      color: $steps-circle-text-color;
      background: $steps-circle-background;
      min-width: 50px;

      @media (max-width: 720px) {
        display: none;
      }
    }

    @media (max-width: 720px) {
      margin: 30px;
    }

    @media (max-width: 390px) {
      margin: 15px;
    }
  }
}

:local(.virtual-intro) {
  margin-top: 50px;
  color: var(--text-field-text-color, black);
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;

  p {
    line-height: 1.3;
    font-size: 18px;
    margin-top: 0;
  }

  div.intro-text {
    max-width: 480px;
    padding-right: 30px;

    h2 {
      margin: 0 0 10px 0;
      font-weight: normal;
      font-size: 30px;
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
    p {
      text-align: center;
    }
  }
}

:local(.virtual-Rooms-Group) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-left: 20px;
  padding: 20px;

  @media (max-width: 1024px) {
    padding: 12px;
  }

  :local(.item1) {
    grid-column: 1;
  }

  :local(.item12) {
    grid-column: 1 / 3;
    justify-self: stretch;
    align-self: start;
  }

  :local(.item2) {
    grid-column: 2;
  }

  :local(.item3) {
    grid-column: 3;
    justify-self: center;
    align-self: start;
    margin: 10px;

    background-color: $text-field-background-color;
  }
}

:local(.description-Container2) {
  border-radius: 1px;
  background-color: $text-field-background-color;
  color: $header-title-text-color;
  display: inline-block;

  h1 {
    margin-top: 40px;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  :local(.logo) {
    max-width: 220px;
    margin: 20px 0 20px -10px;
    align-content: flex-start;

    @media (max-width: 390px) {
      margin: 0;
    }
  }

  :local(.browse-button-wrap) {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;

    &:before {
      content: '';
      position: absolute;
      width: calc(100% - 5px);
      height: calc(100% - 5px);
      border: 2px solid $link-button-active-background-color;
      right: -3%;
      top: 15%;
    }
  }

  :local(.browse-button) {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 0 20px;
    color: $buttons-text-color;
    background-color: $link-button-active-background-color;
    text-transform: uppercase;
    font-family: 'Lato', Serif;
    position: relative;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    height: 60px;

    &:hover {
      background-color: $link-button-hover-color;
    }

    &:active {
      background-color: $link-button-active-color;
    }

    &:visited {
      background-color: $link-button-visited-color;
    }
  }

  :local(.join-button-disabled) {
    color: black;
    background-color: #909090;
    cursor: default;

    &:hover, &:active {
      background-color: #909090;
    }
  }
}

:local(.redWrapper) {
  background-color: $red;
  left: 0;
  right: 0;
}

:local(.description-Container-Header) {
  width: 100%;
  background-color: $banner-background-color;
  background-image: url('../images/audience.png');
  background-position-x: right;
  background-repeat: repeat-y;
  padding-bottom: 80px;

  @media (max-width: 720px) {
    padding-bottom: 20px;
    background-size: 220px auto;
  }
  @media (max-width: 450px) {
    background-image: none;
  }
}

:local(.banner) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 140px;
  margin-left: 140px;
  background-color: white;
  padding: 60px;

  text-align: center;
  text-transform: uppercase;


  @media only screen and (max-width: 900px) {
    margin-right: 60px;
    margin-left: 60px;
    padding: 30px;
  }

  @media only screen and (max-width: 720px) {
    margin-right: 0;
    margin-left: 0;
    padding: 30px;
  }

  h1 {
    letter-spacing: 1.76px;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 35px;

    @media (max-width: 540px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
}

:local(.virtual-Rooms-Section) {
  border-radius: 4px;
  //border: 1px solid purple;
}

:local(.virtual-Rooms-Section-Container) {
  border-radius: 4px;
  //border: 1px solid $panel-border-color;
  background-color: $text-field-background-color;
}

:local(.virtual-Rooms-Section-Header) {
  display: flex;
  //border-radius: 4px;
  //border: 1px solid rebeccapurple;
  justify-content: center;
  background-color: $home-background-color;

  h1 {
    color: $text-field-background-color;
  }
}
