$red: #C41230;
$red-dark: #521215;
$gray: #EBEBEB;

$home-background-color: var(--home-background-color, $gray);
$text-field-text-color:  var(--text-field-text-color, black);
$text-field-background-color: var(--text-field-background-color, white);

// Client-specific values and not from Theme set on the server
$link-button-highlight-color: $red;
$link-button-hover-color: $red;
$link-button-active-background-color: $red;
$link-button-active-color: $red;
$link-button-disabled-color: $red;
$link-button-visited-color: $red;
$link-button-box-shadow-background-color: #cab1ad;
$steps-circle-background: $red;
$steps-circle-heading-background: $red;
$steps-circle-text-color: white;
$header-title-text-color: $red;
$panel-border-color: var(--hud-dropdown-border-color);
$buttons-text-color: white;
$banner-background-color: $red;

@font-face {
  font-family: "Freight Bold";
  src: url("../fonts/Freight/GarageFonts-FreightDispProBold.otf");
}

@font-face {
  font-family: "GothamLight";
  src: url("../fonts/Gotham/Gotham-XLight.otf")
}

h1, h2, h3, h4, h5 h6 {
  font-family: 'Freight Bold';
}
h1 {
  font-size: 50px;
  @media (max-width: 1024px) {
    font-size: 30px;
  }
}
h2 {
  font-size: 35px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
h3 {
  font-size: 25px;
  @media (max-width: 1024px) {
    font-size: 15px;
  }
}

:local(.conference-content) {
  font-family: GothamLight, Serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $text-field-background-color;
  border-radius: 4px;
  border: 1px solid $panel-border-color;

  h1 {
    margin-bottom: 20px;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: left;
    width: 100%;
  }

  :local(.card) {
    padding: 40px;

    @media (max-width: 1024px) {
      padding: 12px;
    }
  }
}

:local(.centered) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:local(.spinner-container) {
  padding: 40px 0;
}

:local(.room-list) {
  list-style: none;
  padding: 0;
  width: 100%;
  //max-width: 480px;

  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 8px;
    background-color: $text-field-background-color;
    color: $text-field-text-color;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;

    &:not(:first-child) {
      border-top-width: 0;
    }

    @media (max-width: 1024px) {
      font-size: 12px;
    }

    b {
      padding-right: 5px;
    }
  }

  :local(.room-title) {
    color: $text-field-text-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 8px 0 0;
  }

  svg {
    margin-right: 6px;
  }

  b {
    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }
}

:local(.create-room-button) {
  display: block;
  border: none;
  border-radius: 1.5em;
  font-size: 1.5em;
  margin: 40px auto 0 auto;
  padding: 10px 20px;
  width: auto;
  cursor: pointer;

  &:visited {
    background-color: $link-button-visited-color;
  }

  @media (max-width: 1024px) {
    margin: 20px auto 12px auto;
    padding: 8px 12px;
    font-size: 16px;
  }
}

:local(.instructions) {
  border-radius: 4px;
  //border: 1px solid $panel-border-color;
  background-color: $text-field-background-color;

  :local(.steps) {
    margin-left: 60px;
    margin-right: 60px;
    dt {
      color: $steps-circle-heading-background;
      padding-top: 1.8em;
      text-transform: uppercase;
    }

    dd {
      margin-inline-start: 0;
      padding-top: 1.2em;
      margin-left: 45px;
      margin-right: 45px;
    }

    :local(.circle) {
      border-radius: 80%;
      font-size: 30px;
      color: $steps-circle-text-color;
      line-height: 20px;
      text-align: center;
      background: $steps-circle-background;
      padding-right: 12px;
      padding-left: 12px;
      margin-right: 10px;
    }
  }
}

:local(.virtual-Rooms-Group) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  //max-width: 960px;
  //margin: 0 auto;
  margin-left: 20px;
  padding: 20px;
  //border: 1px solid $panel-border-color;

  @media (max-width: 1024px) {
    padding: 12px;
  }

  :local(.item1) {
    grid-column: 1;
  }

  :local(.item12) {
    grid-column: 1 / 3;
    justify-self: stretch;
    align-self: start;
  }

  :local(.item2) {
    grid-column: 2;
  }

  :local(.item3) {
    grid-column: 3;
    justify-self: center;
    align-self: start;
    margin: 10px;
    //min-width: 50px;
    //min-height: 150px;
    //margin-left: 20px;

    background-color: $text-field-background-color;
    //background-image: url('../images/Room_Screenshot.png');
  }
}

:local(.description-Container2) {
  border-radius: 1px;
  max-width: 870px;
  //border: 1px solid $panel-border-color;

  background-color: $text-field-background-color;
  color: $text-field-text-color;

  h1 {
    margin-top: 40px;
  }

  h2 {
    margin-top: 30px;
  }

  :local(.logo) {
    max-width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    align-content: flex-start;
  }

  :local(.join-button) {
    display: inline-block;
    margin: 20px 20px 0 12px;
    text-decoration: none;
    width: 270px;
    text-align: center;
    padding: 4px 0;
    color: $buttons-text-color;
    background-color: $link-button-active-background-color;
    box-shadow: 2px 2px $link-button-box-shadow-background-color;
    border: 2px solid $buttons-text-color;
    text-transform: uppercase;

    &:hover {
      background-color: $link-button-hover-color;
    }

    &:active {
      background-color: $link-button-active-color;
    }

    &:visited {
      background-color: $link-button-visited-color;
    }

    @media (max-width: 840px) {
      width: 100px;
      box-shadow: none;
    }
  }

  :local(.join-button-disabled) {
    color: black;
    background-color: #909090;
    cursor: default;

    &:hover, &:active {
      background-color: #909090;
    }
  }
}

:local(.description-Container-Header) {
  min-height: 500px;
  max-width: 870px;
  background-color: $banner-background-color;
  background-image: url('../images/MiamiGraduationPhotoClipped.png');
  background-position-x: right;
  background-repeat: repeat-y;
}

:local(.banner) {
  min-height: 300px;
  border-radius: 4px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 200px;
  margin-left: 200px;
  background-color: $text-field-background-color;
}

:local(.virtual-Rooms-Section) {
  border-radius: 4px;
  //border: 1px solid purple;
}

:local(.virtual-Rooms-Section-Container) {
  border-radius: 4px;
  //border: 1px solid $panel-border-color;
  background-color: $text-field-background-color;
}

:local(.virtual-Rooms-Section-Header) {
  display: flex;
  //border-radius: 4px;
  //border: 1px solid rebeccapurple;
  justify-content: center;
  background-color: $home-background-color;

  h1 {
    color: $text-field-text-color;
  }
}
