@media only screen and (max-device-width: 600px) {
    h2 {
        color: white;
    }
    .h1_large {
        font-size: 15vw;
    }
    .heading_container {
        margin-top: 100px;
    }
    .help_content {
        margin-left: 5%;
        margin-right: 5%;
    }
    .help_dotpoint_num {
        padding-left: 0px;
        width: 3rem;
        margin-right: 0px;
        margin-bottom: 30px;
    }
}