.rocket_image {
    width: 30%;
    max-width: 30%;
}

.welcome_instructions {
    max-width: 42%;
    width: 42%;
}

.home_content {
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
}

.room_div {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #A02386;
    width: 37%;
    min-width: 37%;
    max-width: 37%;
    margin-bottom: 2px;
    align-items: center;
}

h1 {
    font-size: 3vw;
}

.h1_subtitle {
    font-size: 2.2vw;
}

h2 {
    font-size: 3.25vw;
}

h3 {
    font-size: 26px;
}

.step_div {
    width: 16vw;
    max-width: 16vw;
}

.step_div_container {
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
}

.room_div img {
    height: 30%;
}

.room_title {
    font-size: 21px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.room_list {
    margin-bottom: 60px;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.room_list {
    margin-left: 13%;
    margin-right: 13%;
}

.join_room_button {
    font-weight: bold;
    font-family: 'Helvetica Neue', Arial;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    height: 65%;
}

.room_count {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.instructions_div {
    margin-bottom: 10px;
    font-size: 13px;
}

.instruction_icon {
    width: 60px;
    min-width: 60px;
    margin-right: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: top;
    margin-top: 10px;
}

.instruction_icon_file {
    width: 60px;
    min-width: 60px;
    margin-right: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: top;
    margin-top: 10px;
}

.instructions_title {
    margin-bottom: 40px;
    max-width: 33vw;
}

.instructions_text {
    margin-top: 10px;
    margin-bottom: 60px;
}

.room_collection_description {
    margin-top: 40px;
}

.help_button_bottom {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 307px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h4 {
    font-size: 16px;
}